<%= link_to "List new product", "/products/new" %>
<%= link_to "Add new vendor", "/vendors/new" %>
<%= link_to "Vendor list", "/vendors" %>


<h1>Products</h1>

<% @products.each do |product| %>
<%= link_to product.name, edit_product_path(product) %> <br>
<% end %>

<br> <br>
